*.icon-white {color: white;}
*.icon-silver {color:silver ;}
*.icon-green {color: green;}
*.icon-dark {color: gray;}
*.icon-red {color: rgb(255, 0, 0);}

@media screen and (max-width: 768px)
{
	div.full-details{display: none;}
	div.less-details{display: block;}
}

@media screen and (min-width: 768px) and (max-width: 1024px)
{
	div.full-details{display: block;}
	div.less-details{display: none;}
	 .hideable-column {display: none;}
}

@media screen and (min-width: 1024px)
{
	div.less-details{display: none;}
	div.full-details{display: block;}
	 .hideable-column {display: table-cell;}
	
}
